@using NCIOnlineTimetable.Models;
@using System.Collections.Generic;
@using System.Linq;
@{ 
    ViewBag.Title = "Floor " + ViewBag.Floor;
    string mapSource = "/Content/Images/floor_" + @ViewBag.Floor + ".png";
    string buttonSource = "/Content/Floor_HTML/Floor" + @ViewBag.Floor + "Buttons.html";
    string baseURL = HttpContext.Current.Request.ToString();
}

@helper GetSlots(string roomName)
{
    foreach(Slot s in ViewBag.Timetables)
    {
        if(s.Room.Equals(roomName))
        {
            ViewBag.RoomSlot = s;
        }
    }
}

<h1>@ViewBag.Title</h1>

<!-- Map enclosure -->
<div style="display: block; margin-left: auto; margin-right: auto;">
    <div id="mapImage">
        <!-- Map -->
        <img src="@mapSource" />

        <!-- Button divs -->
        <div style="text-align: center;">
            <button type="button" onclick="gotoFloor(1)">Floor 1</button>
            <button type="button" onclick="gotoFloor(2)">Floor 2</button>
            <button type="button" onclick="gotoFloor(3)">Floor 3</button>
        </div>

        <!-- Floor Buttons -->
        @Html.Raw(File.ReadAllText(Server.MapPath(buttonSource)))

        <!-- Map Legend -->
        <div style="border: 1px double black; position:absolute; top: 5px; left: 5px;">
            <p style="margin: 0; padding-left: 5px; padding-right: 5px; font-weight: bold;">Map Legend</p>
            <p style="margin: 0; padding-left: 5px; padding-right: 5px;" class="freeRoom">Free Room</p>
            <p style="margin: 0; padding-left: 5px; padding-right: 5px;" class="occupiedRoom">Occupied Room</p>
            <p style="margin: 0; padding-left: 5px; padding-right: 5px;" class="selectedRoom">Selected Room</p>
        </div>
    </div>

    <!-- Side Panel -->
    <div style="margin-left: 20px;" id="mapImage">
        <p><b>Room: <span id="roomName">none</span></b></p>
        <p>Current Class: <span id="courseName">none</span></p>
        <button>View Timetable</button>
    </div>
    
    <!-- Time Panel -->
    <div style="margin-left: 20px; float: right;" width="200px;" id="mapImage">
        <p><b>Current Day:</b></p><span id="dayString"></span>
        <br/>
        <input id="dayInput" type="range" name="day" min="0" max="6" step="1" oninput="updateDate(this.value, currentTime);"/>
        <p><b>Current Hour:</b></p><span id="hourString"></span>
        <br/>
        <input id="hourInput" type="range" name="hour" min="0" max="24" step="1" oninput="updateDate(currentDay, this.value);"/>
    </div>
</div>

<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.min.js"></script>
<script type="text/javascript">

    var uri = '../../api/timetables';
    var timetables; //JSON for all timetables
    var currentDate = new Date();
    //var currentDay = currentDate.getDay();
    var currentDay = 1;
    //var currentTime = currentDate.getHours();
    currentTime = 11;
    var button = null;

    //Credit: http://www.w3schools.com/jsref/jsref_getday.asp
    var weekday = new Array(7);
    weekday[0]=  "Monday";
    weekday[1] = "Tuesday";
    weekday[2] = "Wednesday";
    weekday[3] = "Thursday";
    weekday[4] = "Friday";
    weekday[5] = "Saturday";
    weekday[6] = "Sunday";

    console.log("Current Day: " + currentDay);
    console.log("Current Time: " + currentTime);

    //AJAX to get all timetable data
    $(document).ready(function () {

        $("#dayString").text(weekday[currentDay]);
        $("#hourString").text(currentTime);
        $("#dayInput").val(currentDay);
        $("#hourInput").val(currentTime);

        $.getJSON(uri)
            .done(function (data) {
                timetables = data;

                $(".mapButton").each(function () {
                    var thisRoom = $(this).html();
                    var thisTimetable = getTimetable(thisRoom);

                    for (var i = 0; i < thisTimetable.Slots.length; i++)
                    {
                        var slot = thisTimetable.Slots[i];

                        if ((currentDay == slot.Day) && (slot.StartTime <= currentTime && slot.EndTime > currentTime)) {
                            $(this).addClass("occupiedRoom");
                        }
                        else
                        {
                            $(this).addClass("freeRoom");
                        }
                    }

                    if (thisTimetable.Slots.length == 0) {
                        $(this).addClass("freeRoom");
                    }
                });
            });
    });

    //Updates the date
    function updateDate(day, time) {
        currentDay = day;
        currentTime = time;

        $("#dayString").text(weekday[currentDay]);
        $("#hourString").text(currentTime);

        $("#roomName").html("none");
        $("#courseName").html("none");

        $(".mapButton").each(function () {
            var thisRoom = $(this).html();
            var thisTimetable = getTimetable(thisRoom);

            $(this).removeClass("selectedRoom");
            $(this).removeClass("occupiedRoom");
            $(this).removeClass("freeRoom");

            for (var i = 0; i < thisTimetable.Slots.length; i++) {
                var slot = thisTimetable.Slots[i];

                if ((currentDay == slot.Day) && (slot.StartTime <= currentTime && slot.EndTime > currentTime)) {
                    $(this).addClass("occupiedRoom");
                }
                else {
                    $(this).addClass("freeRoom");
                }
            }

            if (thisTimetable.Slots.length == 0) {
                $(this).addClass("freeRoom");
            }
        });
    }

    //Go to the floor determined by the button clicked
    function gotoFloor(floor) {

        //Check if floor is of type int
        if (!Number.isInteger(floor))
            return

        //Ensure floor is between 1 and 3
        if (floor < 1)
            floor = 1;
        else if (floor > 3)
            floor = 3;

        //Go to the floor
        switch (floor) {
            case 1:
                window.location.pathname = "Home/Floor/1";
                break;
            case 2:
                window.location.pathname = "Home/Floor/2";
                break;
            case 3:
                window.location.pathname = "Home/Floor/3";
                break;
            default:
                console.log("This code should never be called!");
                break;
        }
    }

    //Updates the side panel based on the room
    function updateSidePanel(btn, room) {
        var timetable = getTimetable(room);
        
        if (button !== null) {
            $(button).removeClass("selectedRoom");
        }

        $("#roomName").html(room);
        button = btn;
        $(button).addClass("selectedRoom");

        for (var i = 0; i < timetable.Slots.length; i++) {
            var slot = timetable.Slots[i];

            if ((currentDay == slot.Day) && (slot.StartTime <= currentTime && slot.EndTime > currentTime)) {
                $("#courseName").html(slot.Name);
                return;
            }
            else {
                $("#courseName").html("none");
            }
        }

        if (timetable.Slots.length == 0) {
            $("#courseName").html("none");
        }
    }

    //Get timetable by name
    function getTimetable(room) {
        for (var i = 0; i < timetables.length; i++) {
            if (timetables[i].Name == room) {
                return timetables[i];
            }
        }
        return null;
    }
</script>